.columns{
    display: flex;
    width: 100%;
    height: 95%;
}
.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:30px;
    border: 1px solid black;
}
.numbers,.played,.won,.draw,.loss,.gd,.points{
    width: 10%;
    height: 100%;
    border: 1px solid black;
}
.teams{
    width: 30%;
    height: 100%;
}
.numbers,.teams,.played,.won,.draw,.loss,.gd,.points{
    display: flex;
    align-items: center;
    justify-content: center;
}