.second{
    width: 80%;
    margin: 0px auto;
}
.secondtop{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.secondmain{
    display: flex;
    gap: 10px;
}
.a4{
    text-decoration: none;
}